* {
  margin:0;
  font-family: 'Nanum Gothic', sans-serif;
  scroll-behavior: smooth;
}

.app {
  text-align: center;
  background-color: #60a3bc;
  color: #fff;
}

.general {
  height: auto;
  display: flex;
  flex-direction: row;
  max-height: 85vh;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  background-color: #34495e;
  color: white;
  font-weight: 800;
  margin: 0;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;  
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #34495e;
  color: #fff;
  max-height: 5vh;
  min-height: 5vh;
  font-size: 12px;
  margin: 0;
}

.home { 
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  border-left: 1px solid #fff;
  padding-top: 15px; 
  width: 80vw;
  overflow: auto;
  max-height: 85vh;
  border: 1px solid;
}
.container {
  display: flex;
  flex-direction: row;
  height: 85vh;
  width: 100vw;
  margin: 0;
}

.subContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.sidebar {
  width: 20vw;
}
.sidebar li {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.bar-list {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none; 
  padding-top: 10%;
  padding-right: 10%;
  font-weight: 800;
}

.main {
  display:flex;
  max-height: 85vw;
  align-items: center;
}

.hr { 
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #fff;
  margin-top: 30px;
  margin-bottom: 30px; 
  width: 80vw;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-left: 1px solid;
  margin:0;
  height: 6vh;
  width: auto;
  border: 1px solid red;
}

.pagination-span {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  list-style: none; 
  height: 2vh;
}

.pagination-span:hover {
  background-color: #34495e;
}

.last-item {
  position: relative;
  
  color: red;
  font-weight: 300;
  height: 20px;
  text-align: left;
  padding-left: 10px;
  margin:5px;
  border: 1px solid;
}
.new-item {
  position: relative;
  
  height: 20px;
  font-weight: 600;
  color: orange;
  text-align: right;
  padding-right: 10px;
  margin:5px;
  border: 1px solid;
}
.addCard_btn {
  position: relative;
  left: 95px;
  bottom: 115px;
  text-align: center;
  height: 45px;
  width: 95px;
  border: none;
  background-color: #34495e;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.boardItems {
  height: 77vh;
}