* {
  margin:0;
  font-family: 'Nanum Gothic', sans-serif;
}

.app {
  text-align: center;
  background-color: #60a3bc;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  background-color: #3c6382;
  color: white;
  font-weight: 800;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;  
}

.main {
  height: 85vh;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3c6382;
  color: #fff;
  max-height: 5vh;
  min-height: 5vh;
  font-size: 12px;
}
