* {
  margin:0;
  scroll-behavior: smooth;
}

.app {
  text-align: center;
  background-color: #60a3bc;
  color: #fff;
}

.general {
  height: auto;
  display: flex;
  flex-direction: row;
  max-height: 85vh;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  background-color: #34495e;
  color: white;
  font-weight: 800;
  margin: 0;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;  
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #34495e;
  color: #fff;
  max-height: 5vh;
  min-height: 5vh;
  font-size: 12px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 85vh;
  width: 100vw;
  margin: 0;
}

.subContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.product { 
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  border-left: 1px solid #fff;
  margin-top: 20px;
  width: 80vw;
  overflow: auto;
  height: 70vh;
}

.sidebar {
  width: 20vw;
}

.sidebar li {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.bar-list {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none; 
  padding-top: 10%;
  padding-right: 10%;
  font-weight: 800;
}

.main {
  display:flex;
  max-height: 85vw;
  align-items: center;
}

.hr { 
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  border-left: 1px solid #fff;
  margin-top: 30px;
  margin-bottom: 30px; 
  width: 100vw;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 1px solid;
  margin:0;
  height: 10vh;
  width: auto;
}

.pagination-span {
  cursor: pointer;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  list-style: none; 
  height: 2vh;
}

.pagination-span:hover {
  background-color: #34495e;
}

.imgBoard {
  height: 525px;
  width: 275px;
  margin: 5px;
  border: 1px solid #000;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
}
.imgBoard:hover {
  transform: scale(1.02,1.02);
  box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.3);
}

.imgBoard:hover + .addCard-btn {
  display: inline-block;
  opacity: 1;
}


.boardItems {
  position: relative;
}
.last-item {
  position: absolute;
  color: red;
  top: 4em;
  left: 0em;
  font-weight: 400;
  height: 20px;
  text-align: left;
  padding-left: 10px;
  margin:5px;
}
.new-item {
  position: absolute;
  top: 4em;
  right: 0em;
  height: 20px;
  font-weight: 600;
  color: orange;
  text-align: right;
  padding-right: 10px;
  margin:5px;
}
.addCard-btn {
  position: absolute;
  right: 1em;
  bottom: 2em;
  text-align: center;
  height: 45px;
  width: 95px;
  border: none;
  background-color: #34495e;
  color: #fff;
  font-weight: 800;
  opacity: 0;
  transition: all .3s linear;
  cursor: pointer;
}

.addCard-btn:hover {
  display: inline-block;
  cursor: pointer;
  opacity: 1;
}
/*? */
.addCard-btn:hover .imgBoard {
  transform: scale(1.02);
  box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.3);

}


.ProductContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100vw;
  margin: 0;
  
}

.ProductImg {
  position: absolute;
  left: 40vh;
}

.ProdImg {
  height: 75vh;
  width: 50vh;
  border: 1px solid #000;
}

.ProductSummary {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #34495e;
  font-weight: 700;
  width: 40vw;
  height: 75vh;
  text-align: left;
  font-size: 1.4rem;
  position: absolute;
  left: 90vh;
}
.ProductTitle {
  display: flex;
  justify-content: left;
  color: #34495e;
  font-weight: 900;
  width: 50vw;
  padding:2em;
}

.ProductInfo {
  padding:2em;
  height: 40vh; 
  width: 40vw;
}
.ProductPrice  {
  padding:2em; 
  font-style: italic;
}
.ProductButtons {
  padding-left: 1em;
}

.BackProduct-btn, .Basket-btn {
  cursor: pointer;
  font-size: 1.4rem;
  background: transparent;
  border: 2px solid #34495e;
  border-radius: 0.5rem;
  color: #34495e;
  padding: 5px;
  margin: 15px;
}
.BackProduct-btn:hover, .Basket-btn:hover {
  color: #fff;
  border-color: #fff;
  background-color: #34495e;
}